<html>
  <head>
      <meta charset="utf-8">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> -->
       <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </head>
  <body class="grey lighten-2">
    <nav class="green">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"style="margin-left:10px;">ISENetbook</a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a  href="#">hello, {{ user.get_username }}</a>
          </li>
          {% if user.is_superuser %}
          <li>
            <a href="{% url 'post' %}">post an assignment</a>
          </li>
          {%endif%}
          <li>
            <form action="accounts/logout/"method="post" style="margin-top:5px;margin-right:5px;">
              {% csrf_token %}
              <button type="submit"class="blue-grey waves-effect waves-light btn-large ">logout</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-nav">
      <li>
        <a  href="#">hello, {{ user.get_username }}</a>
      </li>
      {% if user.is_superuser %}
      <li>
        <a href="{% url 'post' %}">post an assignment</a>
      </li>
      {%endif%}
      <li>
        <form action="accounts/logout/"method="post" style="margin-top:5px;margin-left:30px;">
          {% csrf_token %}
          <button type="submit"class="waves-effect waves-light btn">logout</button>
        </form>
      </li>
    </ul>

    <script>
        $(document).ready(function(){ $('.sidenav').sidenav(); });﻿
    </script>


        <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">hello, ziyazee</a>
                  </li>
                </ul>
                  <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="{% url 'post' %}">post an assignment</a>
                  </li>

                </ul>

        </nav> -->








              <ul class="collection with-header">
                <li class="collection-header grey lighten-2"><h4>Subjects List</h4></li>
              </ul>
              <div class="row">
                  {% for i in yea%}
                <div class="col s12 m12">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">

                      <span class="card-title">
                        <a href="{% url 'assignmentList' subjects=i.subjectName %}">
                          <h5>
                            <span class="white-text">{{ i.subjectName }}</span>
                          </h5>
                        </a>

                      </span>

                    </div>
                    <!-- <div class="card-action"> -->
                      <!-- <a href="#">This is a link</a> -->
                      <!-- <a href="#">This is a link</a> -->
                    <!-- </div> -->
                  </div>
                </div>
                {% endfor %}

              </div>





                      <footer class="page-footer">
                        <div class="container">
                          <div class="row">
                            <div class="col l6 s12">
                              <h5 class="white-text">ISE Netbook</h5>
                              <p class="grey-text text-lighten-4"><i>The struggle you are in today is developing the strength you need for tommorow ~Steve Jobs</i></p>
                            </div>
                            <div class="col l4 offset-l2 s12">
                              <h5 class="white-text">Logout</h5>
                              <ul>

                                <li>
                                  <form action="accounts/logout/"method="post" style="margin-top:5px;margin-right:5px;">
                                    {% csrf_token %}
                                    <button type="submit"class="blue-grey waves-effect waves-light btn-large ">logout</button>
                                  </form>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="footer-copyright">
                          <div class="container">

                          <a class="grey-text text-lighten-4 right" href="#"></a>
                          </div>
                        </div>
                      </footer>

  </body>
