<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<html>

<head>
<title>Login Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body class="bg-info">

  <div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-5">ISE Netbook</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <span class="anchor" id="formLogin"></span>

                    <!-- form card login -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                          <form class="site-form form-signin" action="/" method="post">
                              {% csrf_token %}
                              {% if next %}
                              <input type="hidden" name="next" value="{{ next }}" />
                          {% endif %}
                                <div class="form-group">
                                    <label for="uname1">Username</label>
                                    <input type="text" class="form-control" name="username" id="uname1" required="">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" id="pwd1"name="password" required="" autocomplete="new-password">
                                </div>
                              
                                <button type="button" class="btn btn-success btn-lg float-right">Login</button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>

    <!--/row-->
</div>
<!--/container-->
</body>
</html>
